<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="platon5.Properties.Settings.pl5ConnectionString" connectionString="Data Source=DESKTOP-FS1R0J4;Initial Catalog=pl5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platon5.Properties.Settings.pl5prisonConnectionString"
            connectionString="Data Source=DESKTOP-FS1R0J4;Initial Catalog=pl5prison;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="platon5.Properties.Settings.pl5prison2ConnectionString"
            connectionString="Data Source=DESKTOP-FS1R0J4;Initial Catalog=pl5prison2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>